body {
  overflow: hidden;
}

.LoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.Login {
  height: 100vh;
  width: 600px;
  background: linear-gradient(#cedaee 0%, #FAFEFE 10%, #cedaee 40%, #FAFEFE);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #020276;
  }

  &__input {
    input[type=text] {
      height: 100%;
      width: 100%;
      border: none;
      font-size: 14px;
    }
  }

  &__banner {
    display: flex;
    align-items: end;
  }

  &__maincontent {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
  }

  &__logo{
    margin-top: 4px;
    height: 30px;
    margin-left: 30px;
  }

  &__messenger {
    margin-left: 10px;
    height: 18px;
    bottom: 0;
  }

  &__msn {
    width: 150px;
    height: 150px;
  }

  &__wrapper {
    margin-top: 20px;
  }

  &__emailbox {
    border: 1.5px solid #8296c2;
    background-color: #ffffff;
    height: 26px;
    width: 213px
  }

  &__passwordbox {
    border: 1.5px solid #8296c2;
    background-color: #ffffff;
    height: 26px;
    width: 240px
  }

  &__trianglebox {
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1.5px solid #8296c2;
    background-color: #ffffff;
    height: 26px;
    width: 22px;
  }

  &__passport {
    width: 32px;
    height: 32px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__footercontainer {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;

  }
  &__left{
    margin-right: auto;
  }
  &__right{
    margin-left: auto;
  }

  &__footertext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 16px;
    color: #0202fe;
    padding: 20px 40px;
  }

  &__bgimage {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0.5;
  }
}

.customcheckbox{
  margin-top: 14px;
  input[type=checkbox]+label:before {
    width: 16px;
    height: 16px;
  }
}
